#list {
  display: flex;
  justify-content: space-around;
  perspective: 100px;
}

.item {
  width: 50px;
  height: 50px;
  display: flex;
  border: 1px solid blue;
  background-color: cadetblue;
  box-shadow: 10px 10px darkblue;
  transition: all 0.5s ease-in-out;
  transform: translate3d(10px,20px,30px);
}

#list > *:hover {
  width: 100px;
  height: 100px;
}

.item2:hover{
  transform:rotate(45deg);
  background-color: coral;
}

.item1 {
  background-color: cornflowerblue;
}

#star {
  animation-name: slide;
  animation-duration: 3s;
  box-shadow: 10px 10px darkblue;

}

@keyframes slide {
  from{transition: translateX(0);}
  to{transition: translateX(1000px);}
}


